*{
	padding:0;
	margin: 0 ;
	list-style: none;
}
body{
	width: 100%;
}
header img{
	margin-top: 10px;
	height:70px;
	margin-left: 15px;
}
header ul{
	margin-top: 25px;
	
	float: right;
	width: 960px;
	height: 50px;
	/*border: 1px solid;*/
}
header ul li{
	
	font-size: 16px;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-right: 1px solid gainsboro;
	position: relative;
	padding-right: 30px;
	padding-left: 30px;
}
header ul li:first-of-type{
	border-left: 1px solid gainsboro;
}
header ul li:last-of-type{
	border-right:none ;
}
header ul li a{
	text-decoration: none;
	color:black ;
}
header ul li a:hover{
	text-decoration: underline;
}

header ul li ul li{
     float: none;
     font-size: 15px;
 
}
header ul li ul{
  position: absolute;
  top:20px;
  left: 0px; 
  display: none;
  height: 100px;
  width: 150px;
  border: 1px solid gainsboro;
  border-radius: 5%;
 background: white;
}
header ul li .er{
  position: absolute;
  top:20px;
  left: 0px; 
  display: none;
  height: 150px;
  width: 150px;
  border: 1px solid gainsboro;
  border-radius: 5%;
 background: white;
}
ul li ul li:hover{
background: gainsboro;
}
header ul :hover ul{
	display: block;
	
}

section img{
	width: 100%;
	height: 600px;
	margin-top: 15px;
}
.donghua{
	width: 100%;
	height: 600px;
	margin-top: 15px;
	/*background: url(../img/img/13039_jk9bbnav.jpg);*/
	animation: dh 12s 2s infinite;
}
@keyframes dh{
	0%{
		background: url(../img/img/13039_jk9bbnav.jpg)no-repeat;
		background-size: 100% 600px;
	}
	25%{
		background: url(../img/img/13039_jk9bpnkq.jpg);
	background-size: 100% 600px;
	}
	
	50%{
		background: url(../img/img/13039_jk9bbnav.jpg);
		background-size: 100% 600px;
	}
	75%{
		background: url(../img/img/13039_jk9bpxqp.jpg);
		background-size: 100% 600px;
	}
	100%{
		background: url(../img/img/13039_jk9bbnav.jpg);
		background-size: 100% 600px;
	}
}
section h1{
	color: white;
	font-size: 58px;
	margin-top: -380px;
	margin-left: 380px;
}
section span{
	display: inline-block;
	color: white;
	font-size: 36px;
	margin-top:20px;
	margin-left: 500px;	
	opacity: 0.8;
}
section a img{
	width: 40px;
	height: 40px;
	position: fixed;
	left: 1300px;
	top: 600px;
}
.quan{
    width: 1349px;
    margin: 0 auto;
    box-sizing: border-box;
}
.box1{
	width: 100%;
	height: 500px;
		/*border: 1px solid red;*/
		margin-top: 300px;
}

.box1 .box2{
	width: 310px;
	height: 500px;
	/*border: 1px solid red;*/
	float: left;
	margin-left: 130px;
}
.box1 img{
	width: 880px;
	height: 450px;
	float: right;
}
.box1 .box2 p:first-child{
	font-size:40px ;
	padding-top: 150px;
}
.box1 .box2 p:nth-child(2){
	font-size:16px ;
	color: dimgray;
	padding-top: 50px;
}
.box1 .box2 .kuang{
	width: 140px;
	height: 35px;
	border: 1px solid gray;
	margin-top: 40px;
}
 .box1 .box2  img{
	height: 10px;
	width: 40px;
	padding-right: 50px;

}
.box1 .box2 .kuang img:hover{
	transform: translateX(20px);

}
.box3{
	width: 100%;
	height: 600px;
	/*border: 1px solid red;*/
	background-color: #f9f9f9;
	margin-top: 40px;
}
.box3 img{
	width: 566px;
	height: 445px;
	margin-top: 50px;
	margin-left: 100px;
	float: left;
}
.box3 .kong{
	width: 566px;
	height: 530px;
	/*border: 1px solid red;*/
	background-color: white;
	float: left;
	margin-top: 50px;
}

.kong div{
	height: 300px;
	width: 580px;
	/*border: 1px solid red;*/
	background-color: white;
	margin-left: -80px;
	margin-top: 100px;
	
}
.kong div p:first-child{
	padding-top: 60px;
	font-size: 25px;
	color: grey;
	padding-left: 50px;
}
.kong div p:last-of-type{
	font-size: 15px;
	color: grey;
	padding-top: 80px;
	padding-left: 50px;
}
.kong div p small{
	font-size: 40px;
}
.kong div img{
	margin-top: -100px;
	margin-left: 50px;
	width: 40px;
	height: 1px;
}
 .box3 .kuang{
	width: 140px;
	height: 35px;
	border: 1px solid gray;
	margin-top: 120px;
	margin-left: 100px;
}
 .box3 .kuang img{
	height: 10px;
	width: 40px;
	padding-right: 50px;
	padding-top: 115px;

}
 .box3 .kuang img:hover{
	transform: translateX(20px);

}
.box4{
	width: 100%;
	height: 600px;
	/*border: 1px solid red;*/
	background-color: papayawhip;
	margin-top: 40px;
}.box4 img{
	width: 566px;
	height: 445px;
	margin-top: 50px;
	margin-right: 120px;
	float: right;
} 
.box4 .kong{
	width: 566px;
	height: 530px;
	/*border: 1px solid red;*/
	background-color: white;
	float: right;
	margin-top: 50px;
}

.box4 .kong div{
	height: 300px;
	width: 580px;
	/*border: 1px solid red;*/
	background-color: white;
	margin-left:65px;
	margin-top: 100px;
	
}
.box4.kong div p:first-child{
	padding-top: 60px;
	font-size: 25px;
	color: grey;
	padding-left: 50px;
}
.box4.kong div p:last-of-type{
	font-size: 15px;
	color: grey;
	padding-top: 80px;
	padding-left: 50px;
}
.box4.kong div p small{
	font-size: 40px;
}
.box4 .kong div img{
	margin-top: -100px;
	margin-right: 488px;
	width: 40px;
	height: 1px;
}
 .box4 .kong .kuang{
	width: 140px;
	height: 35px;
	border: 1px solid grey;
	margin-top: 65px;
	margin-left: 120px;
	/*background: url(../img/img/1765_iyxuxdxg.png) no-repeat 50%;*/
}
 
.box4 img:nth-child(2){
	display: inline-block;
	height: 10px;
	width: 40px;
	float: left;
	margin-top: 80px;
	margin-left: 170px;	
}
.box4 img:nth-child(2):hover{
	transform: translateX(20px);
}
.box5{
	width: 100%;
	height: 450px;
	/*border: 1px solid red;*/
	background-color: black;
	margin-top: 50px;
	position: relative;
}
.box5 img{
	width: 50%;
	height: 450px;
	float: left;
	margin-top: 0px;
}
.box5 .content{
	height: 200px;
	width: 500px;
	/*border: 1px solid white;*/
	float: right;
	margin-top: 120px;
	margin-right: 60px;
	
}
.box5 .content p{
	color: white;
	font-size: 14px;
}
 .box5 .box{
 	height: 320px;
	width: 300px;
	/*border: 1px solid red;*/
	background-color: white;
	/*float: left;*/
	/*margin-top: -380px;
	margin-left: 450px;*/
	position: absolute;
	left: 450px;
	top: 80px;
	
	
	
 }
 .box5 .box img{
 	width: 40px;
	height: 1px;
	padding-left: 70px;
	margin-top: 30px;
 }
  .box5 .box p:first-child{
 	margin-top: 50px;
 	
}
 .box5.box p:nth-child(2){
	margin-bottom: 20px;
}
 .box5 .box p:first-child,
 .box5 .box p:nth-child(2){
 	padding-left: 70px;
 	font-size: 25px;
 	
 }
 .box5 .box p:last-child{
 	color: grey;
 	margin-top: 80px;
 	padding-left: 30px;
 	padding-right: 30px;
 	font-size: 15px;
 }
.ff{
	width: 100%;
	height: 250px;
	/*border: 1px solid red;*/
	background-color: black;
	margin-top: 50px;
}
.ff p{
	font-size: 12px;
	color: white;
	float: left;
	margin-top: 70px;
	margin-left: 150px;
	opacity: 0.8;
}

.ff img{
	width: 70px;
	/*float: left;*/
	margin-top: 30px;
	margin-left: 660px;
}
.ff p:last-child{
	font-size: 15px;
	/*float: left;*/
	margin-left: 605px;
	margin-top: 20px;
}
